<!DOCTYPE html>
<html lang="en">
<title>Exchange Rate</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/exchange.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:80px 16px">
  <h1 class="w3-margin w3-jumbo">Exchange Rate</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">

    <div>
        <h2>Current Currency Rates</h2>

        <table style="width:100%">
        <tr>
            <th>Currency</th>
            <th>Cost in Eur</th>
        </tr>
        {% for key, value in currencies.rates %}
        <tr>
            <td><button type="button" data-toggle="modal" data-target="#myModal"> {{ key }}</button></td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        </table>

        <div id="myModal" class="modal hide fade">
          <form>
            <label for="payment_method">Payment Method: </label><br>
            <select name="payment_method" id="payment_method">
              <option value="Card">Card</option>
              <option value="Transfer">Bank Transfer</option>
            </selct><br>
            <label for="transaction_type">Transaction Type: </label><br>
            <select name="transaction_type" id="transaction_type">
              <option value="deposit">Deposit</option>
              <option value="withdraw">Withdraw</option>
            </selct><br>
            <label for="base_ammount">Ammount(EUR): </label><br>
            <input type="number" name="base_ammount" id="base_ammount" min="1" max="100000"><br>
            <label for="target_currency">Target Currency: </label><br>
            <select name="target_currency" id="target_currency">
            {% for key in currencies.rates %}
              <option value={{ key }}>{{ key }}</option>
            {% endfor %}
            </selct><br>
          </form>

        </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
 function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
